version: '3.8'

services:
  app:
    container_name: user_auth_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
    environment:
      - DB_HOST=db_host_placeholder
      - DB_NAME=user_auth_db
      - DB_USER=db_user_placeholder
      - DB_PASS=db_pass_placeholder
